@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #4B4B4B;
  background: #344054;
  font-family: "Avenir", sans-serif;
  width: 100%;
  scroll-behavior: smooth;
}

.siteWapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  /* Responsive styles */
  /* @media (min-width: 500px) {
    padding-left: 25px;
    padding-right: 25px;
  } */
}
img {
  width: auto;
  height: auto;
  max-width: 100%; /* Optional for responsiveness */
  max-height: 100%; /* Optional for responsiveness */
}



nav ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  line-height: 21.6px;
  text-align: center;
}

nav ul li span {
  font-size: 10px;
  font-weight: 900;
  font-family: "Avenir", sans-serif;
  line-height: 21.6px;
  text-align: center;
}
footer ul li span {
  font-size: 16px;
  font-weight: 900;
  font-family: "Avenir", sans-serif;
  line-height: 21.6px;
  text-align: center;
}

/* fonts */
h1 {
  font-weight: 400;
  font-family: "Avenir", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  font-family: "Avenir", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -2%;
  font-family: "Avenir", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
}

h5 {
  
  font-weight: 400;
  font-family: "Avenir", sans-serif;
}

h6 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
}
p {
  font-weight: 700;
  font-family: 'Geist Sans', sans-serif;

}