/* Size styles */
.btn.small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 100%;
  gap: 8px;
  padding: 12px 16px 12px 16px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Geist Sans", sans-serif;
  line-height: 18px;
  text-align: center;
  background: #eaecef;
  border-radius: 32px;
  transition: all 300ms ease-in-out;
}
.btn.small:hover {
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.btn.medium {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Matter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  background: linear-gradient(178.1deg, #2183df 1.62%, #13518c 114.48%);
  text-decoration-skip-ink: none;
  width: 100%;
  height: 36px;
  padding: 10px 9px 10px 9px;
  gap: 10px;
  opacity: 0px;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
  color: #ffffff;
}
.btn.medium:hover {
  border-radius: 15px;
  transform: translateY(-1px);
}

.btn.large {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
  text-align: center;
  text-decoration-skip-ink: none;
  width: 100%;
  height: 36px;
  padding: 10px 12px 10px 12px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #2183df;
  opacity: 0px;
  color: #2183df;
}

.btn.large:hover {
  border-radius: 15px;
  background-color:  rgba(31, 25, 25, 0.1);
  transform: translateY(-1px);
}

.btn.cdn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f58220;
  border-radius: 8px;
  width: 100%;
  height: 44pxpx;
  padding: 10px 16px 10px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.btn.cdn:hover {
  border-radius: 10px;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.btn.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 7px 10px 7px 10px;
  gap: 16px;
  font-family: "Metropolis";
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #9ba9b7;
}

.btn.back:hover {
  color: #f58220;
}

/* for all the arrow buttons */
.btn.arrowRight {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6eaed80;
  width: 100%;
  height: auto;
  padding: 7px 10px 7px 10px;
  gap: 6px;
  border-radius: 9px;
  opacity: 0px;
  font-family: "Metropolis";
  font-size: 9px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #506982;
}

.btn.arrowRight:hover {
  color: #f58220;
}

/* for all the arrow buttons */

/* Color styles */

.btn.secondary {
  background-color: #6c757d;
}

.btn.danger {
  background-color: #dc3545;
}
